<!doctype html>
    <!--[if lt IE 7 ]> <html class="ie6 ie ltie9 ltie8 no-js" lang="en_US"> <![endif]-->
    <!--[if IE 7 ]>    <html class="ie7 ie ltie9 ltie8 no-js" lang="en_US"> <![endif]-->
    <!--[if IE 8 ]>    <html class="ie8 ie ltie9 no-js" lang="en_US"> <![endif]-->
    <!--[if IE 9 ]>    <html class="ie9 ie no-js" lang="en_US"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en_US"> <!--<![endif]-->
<html>
<head>
  <title>Seerch | Find what you want</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">
  <script src="https://use.fontawesome.com/cc2f89fd42.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
